window#osd {
	padding: 12px 20px;
	border-radius: 999px;
	border: none;
	background: alpha(#E6C384, 1);
}

window#osd #container {
	margin: 16px;
}

window#osd image,
window#osd label {
	color: #DCD7BA;
}

window#osd progressbar:disabled,
window#osd image:disabled {
	opacity: 0.5;
}

window#osd progressbar {
	min-height: 6px;
	border-radius: 999px;
	background: transparent;
	border: none;
}

window#osd trough {
	min-height: inherit;
	border-radius: inherit;
	border: none;
	background: alpha(#DCD7BA, 0.5);
}

window#osd progress {
	min-height: inherit;
	border-radius: inherit;
	border: none;
	background: #7FB4CA;
}
